/*====================================================
    Author: Matt Kunnari
    checkout my github @ https://github.com/mkunnari1
======================================================
    GENERIC STYLES
======================================================*/

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body{
    font-size: 15px;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.4;
    color: #333;
    background-color: #fff;
}

footer,
nav{
    display: block;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Courier New', Courier, monospace
}

h1 {
    line-height: 50px;
    font-weight: 900;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(252, 237, 179);
    text-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

h1::after {
    display: block;
    content: "";
    height: 2px;
    width: 150px;
    background: rgb(252, 237, 179);
    margin: 5px auto 40px;
    box-shadow: 4px 2px 3px rgba(0, 0, 0, .5)
}

h2 {
    line-height: 30px;
    color: rgb(252, 237, 179)k;
}

h3 {
    line-height: 30px;
    padding-bottom: 20px;
}

p {
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 15px;
}

.home-central-text {
    line-height: 50px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 30px;
    color: rgba(143, 79, 6, 1);
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.521);
  /* 
   border: 5px groove rgba(143, 79, 6, .25); 
    border-radius: 35%;
  */
    
}

.home-header {
    padding-bottom: 40px;
}

section{
    padding-top: 50px;
    margin-top: 50px;
}

.wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
}

.nav-wrap{
    height: 0px;
}

.nav-menu {
      max-height: 340px;
      margin: 0% auto;
      content: " ";
      width: 100%;
      position: fixed;
      z-index: 100;

}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#rotate-90 {
    transform: rotate(90deg);
    margin-left: -40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*=============================================
HOME STYLE SECTION
===============================================*/

#Home {
    background: url(../HTML-Project1/Images/pic-palace/dog-background-2-1.JPG.jpeg) no-repeat 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 450px; /*spacer before main title logo*/
    padding-bottom: 500px; /*spacer after main title logo*/
    color: #fff;
}

